.body{
    margin: 35px 80px ;
    border: 2px solid darkslateblue;
    color: darkslateblue;
    font-family: sans-serif;
    overflow: auto;
}
.head_mid1{
    margin-top: -20px;
    /* top: 20px; */
    background-color: white;
    padding: 0px 10px;
    font-size: 38px;
    margin-left: 39%;
    margin-right: 44%;
    font-weight: bold;
    position: absolute;
}
.head_mid2{
    top: 22px;
    font-size: 18px;
    text-align: center;
    margin-left: 47.5%;
    margin-right: 47.5%;
    font-weight: 550;
    position: relative;
}
#inborder{
    padding: 50px 50px 120px;
}
#left_col{
    float: left;
    width: 40%;
}
#right_col{
    float: right;
    padding-left: 10%;
    width: 40%;
    border-left: 3px solid darkslateblue;
    border-radius: 2px;
}

