@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.withoutCustomHook {
  width: 35rem;
}
.withCustomHook {
  width: 65rem;
}

body {
  padding: 2rem;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

.button {
  background-color: rgba(168, 168, 168, 0.521);
  color: white;
  margin: 0rem 0.3rem;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border-radius: 4%;
  border: 0px;
  cursor: pointer;
  position: fixed;
  float: right;
  top: 35%;
  right: 48%;
}
h3 {
  color: white;
  line-height: 2rem;
  margin: 2rem 0rem 0.5rem 0rem;
}

.highlight {
  color: rgb(154, 45, 255);
}
@media all and (max-width: 840px) {
  .button {
    position: relative;
    top: 0%;
    right: 0%;
  }
  .wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}
