.welcome
{
    color: black;
    position: absolute;
    top: 13%;
    left: 39.8%;
    right: 38%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
.Calc_border{
    /* border: 4px solid whitesmoke; */
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    padding: 2px 23px;
    position: absolute;
    top: 20%;
    height: 470px;
    right: 40%;
    left: 40%;
    box-shadow: 1px 2px 12px 2px black;

}
*:focus {
    outline: none;
}
.input_box{
    font-family: 'Helvetica';
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    width: 248px;
    text-align: right;
    font-size: 40px;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    position: absolute;
    top: 5%;
    bottom: 74%;
    right: 4.5%;
    left: 6.5%;
}

.AC{
    font-family: 'Helvetica';
    color: black;
    border: 0.1px solid black;
    border-radius: 25px;
    text-align: left;
    padding: 12px;
    width: 56.95px;
    background-color: gray;
    font-size: 22px;
    position: absolute;
    top: 30%;
    left: 5%;
}
.backspace{
    font-family: 'Helvetica';
    color: black;
    border: 0.1px solid black;
    border-radius: 50%;
    padding: 11px 20px;
    background-color: gray;
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 29.5%;
}
.percentage{
    font-family: 'Helvetica';
    color: black;
    border: 0.1px solid black;
    border-radius: 50%;
    padding: 10.5px 16px;
    background-color: gray;
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 53%;

}
.div{
    font-family: 'Helvetica';
    color: whitesmoke;
    border: 0.1px solid black;
    border-radius: 50%;
    width: 52px;
    padding: 7.5px 18px;
    background-color: rgb(255, 174, 0);
    font-size: 29px;
    position: absolute;
    top: 30%;
    left: 76%;
}
.symbol{
    font-family: 'Helvetica';
    color: white;
    border: 0.1px solid black;
    border-radius: 50%;
    padding: 11px 19px;
    background-color: rgb(255, 174, 0);
    font-size: 24px;
    width: 52px;
}
.nums{
    font-family: 'Helvetica';
    color: white;
    border: 0.1px solid black;
    border-radius: 50%;
    padding: 12px 21px;
    background-color: rgba(43, 43, 43, 0.911);
    font-size: 24px;
}