@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0%;
  padding: 0%;
  background-color: white;
  letter-spacing: 2px;
}

.container {
  /* border: 2px dotted red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 60vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#quiz-heading {
  align-self: flex-start;
  margin: 4rem 0rem 0.2rem 2rem;
  font-size: 2.2em;
}
p{
  align-self: flex-start;
  margin-left: 2rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.style-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.322);
    border-radius: 12px;
    padding: 3rem 2rem;
    height: 40%;
    width: 100%;
    margin-top: 1.5rem;
}

.question {
  align-self: flex-start;
  font-size: 1.5em;
  margin-top: -3rem;
}

.answer-container
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.answer-button
{
  margin: 0rem 2rem;
  width: 9rem;
  height: 2rem;
  cursor: pointer;
  border: 2px solid rgba(153, 0, 255, 0.671);
  background-color: transparent;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  letter-spacing: 2px;
}
.answer-button:hover
{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  letter-spacing: 4px;
}
#accent
{
   color: rgba(153, 0, 255, 0.671);
}
