@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  height: 100vh;
  width: 100vw;
}
.MainContainerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.ItemInput,
.CalorieInput {
  margin: 2rem 0rem;
  display: inline-block;
  padding: 0rem 2rem;
}

.mainInputBox {
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.19em;
  margin-bottom: 3rem;
  border-bottom: 1px solid black;
}

.FoodItem {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  line-height: 2rem;
  width: 100%;
}

.foodTitle,
.calorietitle {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
}

.CalorieBox {
  margin: 1rem 0rem;
  padding: 1rem;
  width: 35%;
  border: 1px solid black;
  border-radius: 0.35rem;
}

.EditCalorieBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ButtonPosition {
  display: flex;
  justify-content: flex-end;
}
